#contact {
    padding: 1em;
    background:no-repeat url("../images/contact/contact.png");
    background-size: cover;
}

.Contacth2 {
    color: white;
    font-size: 50px;
    margin: 1em 0 1em 0;
    text-align: center;
}

.Contacth4 {
    color: white;
    position: absolute;
    font-size: 40px;
    float: left;
    margin: 1em 0 1em 9em;
}

#iconsforcontact {
    margin: 150px auto 4em 26em;
    display: grid;
    grid-template-columns: repeat(4, 2em);
    gap: 400px;
}

.logo {
    position: relative;
    transition: opacity 2s ease-in-out;
    display: grid;
    grid-template-rows: 0;
}

.logo .iconcontactfront:hover {
    opacity:0;
    cursor: pointer;
}

.sizelogoiconcontact {
    width: 14em;
}

textarea {
    resize: vertical;
}

form {
    border-radius: 5px;
    margin: 0 12em 0 12em;
    padding: 2em 2em 5em 2em;
    background-color: rgb(231, 231, 231);
    font-size: 30px;
}
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

textarea {
    font-size: 30px;
}

.envoyer {
    position: relative;
    border-radius: 5px;
    z-index: 1;
    background-color: rgb(12, 12, 172);
    color: white;
    padding: 10px 10px 10px 10px;
    margin-top: 27px;
    float: right;
    font-size: 35px;
}

.envoyer::before, #envoyer::after {
    position: absolute;
    content: "";
    z-index: -1;
}

#ENVOIE:hover {
    background: rgb(19, 19, 218);
    box-shadow: 0 0 5px rgb(19, 19, 218), 0 0 25px rgb(19, 19, 218), 0 0 50px rgb(19, 19, 218), 0 0 200px rgb(19, 19, 218);
}
