* {
    background-color: black;
    color: white
}

.evenementiel {
    text-align: center;
    margin-top: 150px;
    font-size: 30px;
}

.texterideaux {
    margin: 0 310px;
    margin-top: 110px;
    text-align: center;
    font-size: 23px;
}

.boites {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-top: 2em;
    margin-top: 5em;
    align-content: space-around;
}

.img1 {
    float: left;
    width: 350px;
    margin-top: -25em;
}

.img2 {
    float: right;
    width: 350px;
    margin-top: -25em;
}

.img3 {
    width: 75%;
    margin-left: 1em;
  
}

.img4 {
    width: 75%;
    margin-left: 1em;

}

.img5 {
    width: 75%;
    margin-left: 1em;
}

.img6 {
    width: 75%;
    margin-left: 1em;
}

.img7 {
    width: 75%;
    margin-left: 1em;
}

.texteprincipal {
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
}

.texte2 {
    margin-top: 80px;
    font-size: 18px;
}

.texte3 {
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
    margin-bottom: 60px;
}
.photos{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
.photos img {
    width:25%;
    margin: 1em;
}

h5{
    margin: 0 10em;
    text-align: center;
    font-size:20px;
}

h3{
    font-size: 40px;
}