/*header*/
@font-face {
    font-family: Prosto;
    src: url('/police/TT_Prosto_Sans_Trail_Regular.otf') format('opentype');
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.logoheader {
    margin-top: 2em;
    width: 8em;
}

.navigation {
    padding: 0 0 1em 1em;
    background-color: black;
    position: sticky;
    z-index: 1;
    top:0;
    }
    
.menu1{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;

}

.nom {
    margin: 0 auto 0 auto;
    padding-right: 175px;
    color: white;
    font-size: 3em;
    font-family: 'victorian';
    text-shadow:
                0 0 5px white,
                0 0 5px white,
                0 0 70px white;
            animation: lumiere 10s infinite linear;
}
@keyframes lumiere {
    0%{
        text-shadow:
        0 0 5px white,
        0 0 5px white,
        0 0 70px white;
    }
    0%{
        text-shadow:
        0 0 5px white,
        0 0 5px white,
        0 0 70px white;
        }
}
    
.navigation .menunavigation a {
    margin: 100px;
    font-size: 30px;
    font-family: 'tt prosto sans';
    text-decoration: none;
    color: white;
}

.navigation .menunavigation a:active{
    color : rgb(255, 255, 255);
    text-shadow:
    0 0 5px white,
    0 0 5px white,
    0 0 70px white;
animation: lumiere 10s infinite linear;
}
@keyframes lumiere {
    0%{
        text-shadow:
        0 0 5px white,
        0 0 5px white,
        0 0 70px white;
    }
    0%{
        text-shadow:
        0 0 5px white,
        0 0 5px white,
        0 0 70px white;
    }
}
.navigation .menunavigation a:hover{
    text-decoration: underline;
    text-shadow:
    0 0 5px white,
    0 0 5px white,
    0 0 70px white;
    animation: lumiere 10s infinite linear;
}
@keyframes lumiere {
    0%{
        text-shadow:
        0 0 5px white,
        0 0 5px white,
        0 0 70px white;
    }
   0%{
        text-shadow:
        0 0 5px white,
        0 0 5px white,
        0 0 70px white;
    }
}
    
.menunavigation {
    font-family: Prosto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

/*main*/

#contact {
    padding: 1em;
    background: contain no-repeat url("../../public/images/contact/contact.png");
}

.Contacth2 {
    color: white;
    font-size: 50px;
    margin: 1em 0 1em 0;
    text-align: center;
}

.Contacth4 {
    color: white;
    position: absolute;
    font-size: 40px;
    float: left;
    margin: 1em 0 1em 9em;
}

#iconsforcontact {
    margin: 150px auto 4em 26em;
    display: grid;
    grid-template-columns: repeat(4, 2em);
    gap: 400px;
}

.logo {
    position: relative;
    transition: opacity 2s ease-in-out;
    display: grid;
    grid-template-rows: 0;
}

.logo .iconcontactfront:hover {
    opacity:0;
    cursor: pointer;
}

.sizelogoiconcontact {
    width: 14em;
}

textarea {
    resize: vertical;
}

form {
    border-radius: 5px;
    margin: 0 12em 0 12em;
    padding: 2em 2em 5em 2em;
    background-color: rgb(231, 231, 231);
    font-size: 30px;
}
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

textarea {
    font-size: 30px;
}

.envoyer {
    position: relative;
    border-radius: 5px;
    z-index: 1;
    background-color: rgb(12, 12, 172);
    color: white;
    padding: 10px 10px 10px 10px;
    margin-top: 27px;
    float: right;
    font-size: 35px;
}

.envoyer::before, #envoyer::after {
    position: absolute;
    content: "";
    z-index: -1;
}

#ENVOIE:hover {
    background: rgb(19, 19, 218);
    box-shadow: 0 0 5px rgb(19, 19, 218), 0 0 25px rgb(19, 19, 218), 0 0 50px rgb(19, 19, 218), 0 0 200px rgb(19, 19, 218);
}

/*Footer*/

footer{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 14em;
    padding-top: 2em;
}

.logofooter {
    width: 10em;
    margin-left: 7em;
    padding-bottom: -1em;
    margin-bottom: 1em;
}

.sizelogoiconfooter{
    width: 6em;
}

#iconsfooter {
    margin-left:4em;
    display: grid;
    grid-template-columns: repeat(4, 2em);
    column-gap: 100px;
}

.menufooter p {
    margin: 170px 0 0 18em;
}

.menufooter, .menufooter a{
    color: white;
    font-size: 25px;
    position: relative;
}

.menufooter a:active{
    color : rgb(255, 255, 255);
    text-shadow:
    0 0 5px white,
    0 0 5px white,
    0 0 70px white;
animation: lumiere 10s infinite linear;
}
@keyframes lumiere {
0%{
    text-shadow:
    0 0 5px white,
    0 0 5px white,
    0 0 70px white;
}
0%{
    text-shadow:
    0 0 5px white,
    0 0 5px white,
    0 0 70px white;
}
}
.menufooter a:hover {
    text-decoration: underline;
    text-shadow:
    0 0 5px white,
    0 0 5px white,
    0 0 70px white;
    animation: lumiere 10s infinite linear;
}
@keyframes lumiere {
    0%{
        text-shadow:
        0 0 5px white,
        0 0 5px white,
        0 0 70px white;
    }
   0%{
        text-shadow:
        0 0 5px white,
        0 0 5px white,
        0 0 70px white;
    }
}
